/* 
Stefani Kulebanova 201526

-----------------------------*/

body {
	color: #8c8c8c;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

a{ transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

h2 { font-size: 2.2rem; }
.thin-font { font-weight: 300; }

.container-fluid {
	max-width: 1390px;
	object-fit: contain;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	height: 100px;
}

.site-name {
	color: #cc9900;
	display: block;
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: 400;
}
.main-nav { font-size: 1.2rem; }

.navbar-nav .nav-link {
	border-radius: 6px;
	color: black;
	padding: 10px 40px;
}
.header{
	height: 136px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	height: 100px;
	list-style: none;
}
.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
	color: white;
	background-color: #cc9900;

}

.gold-text { color: #cc9900; }

.section {
	padding-top: 80px;
	padding-bottom: 100px;
}
.columns{
	width: 30%;
}
.home-img-container {
	background-image: url('../img/home-img.jpg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 621px;
}

.about-img-container { background-image: url('../img/about-img.jpg');	}
.blog-img-container { background-image: url('../img/blog-img.jpg'); }
.contact-img-container { background-image: url('../img/contact-img.jpg'); }

.about-img-container,
.blog-img-container,
.contact-img-container {
	background-size: auto 200px;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}

.title {
	margin-bottom: 1rem;
	line-height: 1.4;
}

.subtitle {
	font-size: 1.4rem;
	max-width: 800px;
	margin: 0 auto 80px;
}

.content-box {
	max-width: 310px;
	margin: 0 auto;
}
#columns-3{
	display: flex;
}
.columns{
	display: flex;
	float: left;
	width: 33%;
}
.content-home{
	margin: 0 350px;
}
h3 { font-size: 1.65rem; }
h4 { 
	font-size: 1.4rem;
	line-height: 1.6;
}

.btn {
	color: white;
	background-color: #cc9900;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 30px;
}

.btn:hover,
.btn:focus {
	background-color: #906E09;
	color: white;
	outline: none;
}

.btn-gray { background-color: #666666; }
.btn-gray:hover,
.btn-gray:focus {
	background-color: #515050;	
}

.margin-b-15 { margin-bottom: 15px; }
.margin-b-20 { margin-bottom: 20px; }
.margin-b-30 { margin-bottom: 30px; }
.margin-b-40 { margin-bottom: 40px; }
.margin-t-big { margin-top: 90px; }
.margin-t-mid { margin-top: 60px; }
.margin-t-small { margin-top: 30px; }

.text-link {
	color: #006699; 
	line-height: 2.8;
	text-decoration: underline;
}
.overflow-auto { overflow: auto; }
.small-font { font-size: 1rem; }


.footer {
	color: #c6c6c6;
	background-color: #191919;
	background-image: url('../img/classic-pattern-bg.png');
	font-size: 1rem;
	padding-top: 40px;
	padding-bottom: 20px;
}

hr { border-top: 1px solid #CCCCCC; }
p { line-height: 1.9; }

.gray-bg {
	background-color: #CCCCCC; 
	color: black;
	padding: 30px 20px 20px;
}
.gray-bg p{
	display:flex;
	justify-content: center;
	font-size: large;
}
#Navbarfooter{
	display: flex;
	justify-content: center;
}
#Navbarfooter .nav {
	padding-left: 0;
}
#Navbarfooter a{
	color: #CCCCCC;
}

.img-post { margin-bottom: 30px; }

.tm-aside-r { padding-left: 30px; }

.form-control {
	border-radius: 0;
	font-size: 1.1rem;
	padding: 0.75rem 1rem;
}

.form-control:focus { border-color: #CC9900; }

.form-description { margin-top: 30px; }
.contact-form {
	padding-top: 20px;
	margin-left: 580px;
}

#google-map {
    height: 333px;
    width: 100%;
    margin-top: 40px;
}

.contact-right { padding-left: 30px; }
.p-small { font-size: 1rem; }

@media (max-width: 1199px) {
	.col-left { padding-right: 0; }
	.col-right { padding-left: 0; }
	.text-link {
		line-height: 2.2;
	}
	.container-fluid {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media (max-width: 991px){

	.home-img-container {
		background:none;
		height: auto;
	}

	.subtitle { margin-bottom: 40px; }
	
	#Navbar .navbar-nav .nav-link { padding: 10px 25px; }
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}

	.content-box { margin-bottom: 50px; }
	.text-link { line-height: 2.4; }

	.section {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}

	.col-left, .col-right {
		margin: 0 auto;
		max-width: 660px; 
	}
	
	.margin-t-big { margin-top: 30px; }
	.media { max-width: 100%; }
	.media-left {
		display: table-cell;
		margin-bottom: 0;
	}

	.footer-content-box {
		margin-bottom: 40px;
	    width: 1200px;
	}

	.paragraphs {
		display: flex;
		        flex-direction: column;
	}

	.tm-2-rows-md-down-1 {
		        order: 1;		
	}
	.tm-2-rows-md-down-2 {
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.contact-right {
		padding-left: 15px; 
		padding-top: 40px;
	}
}
.paragraphs, .margin-t-mid{
	margin-left: 30px;
}

	.main-nav {
		position: fixed;
		right: 0;
		top: 21px;
		z-index: 1000;
	}
	#Navbar .navbar-nav .nav-item { float: none; }
	#Navbar .navbar-nav .nav-link { padding: 10px 35px; }
	#Navbar {
		background: white; 
		border-radius: 6px;
	}
	#Navbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }
	.navbar-toggler {
		background: white;
		border-color: #cc9900;
		color: #cc9900;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.navbar-toggler:focus { outline: none; }
	.content-box { margin-bottom: 50px; }
	
	.col-left {
		padding-right: 0;
		max-width: 660px;
	}
	.col-right { padding-left: 0; }
	.margin-b-40 { margin-bottom: 25px; }
	
	.tm-copyright-text { padding-top: 0; }
	.gray-bg { width: 1463px; padding: 20px 20px 10px; }
	.footer { padding-bottom: 15px; }

	.tm-2-rows-sm-swap {
		display: flex;
		        flex-direction: column;
	}

	.tm-2-rows-sm-down-1 {
		        order: 1;		
	}
	.tm-2-rows-sm-down-2 {
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.blog-post {
		padding-bottom: 10px;
	    margin-left: 100px;
	}
	#sea{
		margin-left: 350px;
	}

	.tm-content-box-contact {
		margin-top: 40px;
		margin-bottom: 0;
	}

		
	.section {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.subtitle { margin-bottom: 20px; }
	.margin-b-40 { margin-bottom: 15px; }
	.content-box { margin-bottom: 40px; }
	.margin-t-mid { margin-top: 30px; }
	.footer-content-box {
		margin-bottom: 40px;
		width: 1200px;
	}


